.post {
    display: grid;
    grid-template-rows: 10% 15% 15% 20% 30% 10%;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px rgb(50, 50, 50) solid;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.postTop {
    display: grid;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Title {
    grid-row: 2;
}

.Date {
    grid-row: 3;
}

.Location {
    grid-row: 4;
}

.Description {
    grid-row: 5;
}

.postBottom {
    grid-row: 6;

}

.userInfo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.userName {
    padding-left: 8px;
    font-size: 18px;
    font-weight: 500;
}

.postIcon {
    height: 30px
}

.postImage {
    width: 280px;
}

.key {
    text-align: left;
    font-size: 18px;
    color: rgb(73, 191, 126);
    align-items: center;
    text-align: center;
}

.value {
    font-size: 16px;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinBtn {
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(104,217,155);
    color: white;
    border: 0;
    border-radius: 5px;
    width: 160px;
}

.bookmarkBtn {
    position: relative;
}
